* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.Navbar {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;


}

.Navbar__s1__title {


    color: #A435F0;
}

.Navbar__s2 {



    padding: 10px;
    border: solid black 1px;
    border-radius: 20px;
    width: 60%;
    display: flex;
    gap: 10px;

}

.Navbar__s2 input {
    border: none;
    width: 60%;
    font-size: 16px;
    align-items: center;

}

.Navbar__s2 input:focus {
    outline: none;

}

.Navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Navbar__s3 p {
    font-size: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;

}

.categories p {
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;



}
.sale-image{
    position: relative;
}



.sale-image img {
    width: 100%;
    padding: 10px;

}

.overlay-text {

    top: 20px;
    left: 30px;
    position: absolute;
    width: 70%;
    color:  #A435F0;
    padding:33px;
    font-weight: bold;
  text-align: center;
    border: solid grey 1px;
}

.recommended {
    padding: 10px;


}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.course__card {
    width: 250px;
    padding: 10px;



}

.course__card img {
    width: 100%;
    height: 50%;
}

.topics {
    padding: 10px;

}

.topics__container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1opx;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;

}

.footer__one p {
    margin: 20px;
}